In [1]:
import pandas as pd

In [3]:
Emisiones = pd.read_csv('Emisiones_CO2.csv', sep = '|', encoding = 'ANSI') 

# Si quieres entrar a la anterior carpeta 
# (1) ../nombre_archivo.csv (2) ../../nombre_archivo.csv (3)../nombre_archivo.csv

In [4]:
Emisiones

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22","0,731866885"
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37","0,569255428"
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75","0,600521157"
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15","0,646072745"
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56","0,691697897"